---------------------------------------------------------------------
By pressing any key, you are entering property owned by xyz,
Incorporated or its affiliated companies ("xyz").  If you are
not an authorized user of the xyz Network, you should leave it
immediately.  Access to and use of the xyz Network, including any
software which may be accessed through such Network, are governed by
the policies and procedures implemented by xyz, which may be
changed by xyz at any time. xyz expressly reserves the right
to access, monitor, read, copy, print and/or disclose any e-mail,
electronic files or other computer records created, received and/or
stored through your use of the xyz Network.
---------------------------------------------------------------------
