{% if switch_number_in_stack == 6 %}
switch 1 provision {{ switch_model_1 }}
switch 2 provision {{ switch_model_2 }}
switch 3 provision {{ switch_model_3 }}
switch 4 provision {{ switch_model_4 }}
switch 5 provision {{ switch_model_5 }}
switch 6 provision {{ switch_model_6 }}
!
{% elif switch_number_in_stack == 5 %}
switch 1 provision {{ switch_model_1 }}
switch 2 provision {{ switch_model_2 }}
switch 3 provision {{ switch_model_3 }}
switch 4 provision {{ switch_model_4 }}
switch 5 provision {{ switch_model_5 }}
!
{% elif switch_number_in_stack == 4 %}
switch 1 provision {{ switch_model_1 }}
switch 2 provision {{ switch_model_2 }}
switch 3 provision {{ switch_model_3 }}
switch 4 provision {{ switch_model_4 }}
!
{% elif switch_number_in_stack == 3 %}
switch 1 provision {{ switch_model_1 }}
switch 2 provision {{ switch_model_2 }}
switch 3 provision {{ switch_model_3 }}
!
{% elif switch_number_in_stack == 2 %}
switch 1 provision {{ switch_model_1 }}
switch 2 provision {{ switch_model_2 }}
!
{% elif switch_number_in_stack == 1 %}
switch 1 provision {{ switch_model_1 }}
!
{% endif %}